html {
  font-size: 14px
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.episode-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
}
.episode-box{
  padding: 0.5rem;
}
header {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #000;
  padding: 0.5rem;
  position: sticky;
  top: 0;
}
